.container {
  padding-left: 2rem;
  padding-right: 2rem;
  @apply mx-auto;
}

.header,
.about,
.skills,
.work,
.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media screen and (min-width: 992px) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.title {
  @apply text-primary font-black mb-12 tracking-tighter uppercase;
  font-size: 3.5rem;
  line-height: 0.9;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 5.5rem;
  }
}

.header-title {
  font-size: 3.5rem;
  line-height: 0.85;
  letter-spacing: -0.05em;
  @media screen and (min-width: 576px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 6rem;
  }

  @apply font-black;
}

.subtitle {
  @apply text-primary text-sm lg:text-base font-bold tracking-widest uppercase;
  opacity: 0.8;
}

p {
  @apply text-gray-700 dark:text-gray-300;
  font-size: 1rem;
  line-height: 1.6;
  transition: all 0.2s linear;
  @media screen and (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.8;
  }
  a {
    @apply border-b border-primary/30 transition-colors duration-200;
    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }
}
