.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header,
.about,
.work,
.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media screen and (min-width: 992px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.title {
  @apply text-primary font-extrabold mb-4;
  font-size: 4.5rem;
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 6rem;
  }
}

.header-title {
  font-size: 3rem;
  line-height: 1;
  @media screen and (min-width: 576px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 4.5rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 5rem;
  }

  @apply font-extrabold;
}

.subtitle {
  @apply text-primary text-lg lg:text-xl font-medium;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  transition: all 0.2s linear;
  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  a:hover {
    color: $primary;
  }
}
