// Import Styles
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
    border-radius: 100px;
  }
}
body {
  @apply min-h-screen bg-light-bg-0 text-dark dark:bg-bg-0 dark:text-white;
}

// App Styles
@import './settings/all';
@import './layouts/all';
@import './components/all';
