.navbar {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 1;
  // @apply bg-neutral-100 dark:bg-dark;

  &-brand {
    @apply text-2xl text-dark dark:text-white font-semibold;
    display: flex;
    img {
      height: 30px;
      max-width: 100%;
      object-fit: contain;
      margin-right: 0.4rem;
    }
  }

  .nav {
    &-group {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &-item {
      text-align: center;
    }
    &-link {
      transition: all 0.2s ease-in-out;
      font-size: 1.125rem;
      text-align: center;
      position: relative;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    &-lang {
      width: 20px;
      text-align: center;
    }
    &-toggle {
      position: relative;
      z-index: 2;
      height: 1.7rem;
      width: 1.7rem;
      box-shadow: $primary;
      text-align: center;
      cursor: pointer;

      &-icon {
        position: relative;
        transform: translateY(-6px);
        &,
        &::before,
        &::after {
          width: 1.4rem;
          height: 1px;
          background-color: $white;
          display: inline-block;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 0.3s;
        }

        &::before {
          top: -0.45rem;
        }
        &::after {
          top: 0.45rem;
        }
      }
      &:hover {
        .nav-toggle-icon {
          &::before {
            top: -0.5rem;
          }
          &::after {
            top: 0.5rem;
          }
        }
      }
      &.close {
        position: fixed;
        z-index: 3;
        top: 20px;
        right: 20px;
        .nav-toggle-icon {
          background-color: transparent;
          &::before {
            top: 0;
            transform: rotate(135deg);
          }
          &::after {
            top: 0;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  &-nav {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

.light {
  .navbar .nav-toggle {
    .nav-toggle-icon {
      &,
      &::before,
      &::after {
        background-color: $dark;
      }
    }
    &.close {
      .nav-toggle-icon {
        background-color: transparent;
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }
}

// Responsive Navbar
$menuItems: 5;
@media screen and (max-width: 768px) {
  .navbar {
    &-nav {
      position: absolute;
      background-color: $primary;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: all 0.5s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 0;

      .nav-group {
        position: relative;
        align-items: center;
        padding: 0px 48px 0;
        list-style: none;

        .nav-item {
          margin-top: 5px;
          transform: scale(1.15) translateY(-30px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
            opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          text-align: center;

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              transition-delay: #{0.56 - ($i * 0.07)}s;
            }
          }
          .nav-link {
            display: inline-block;
            position: relative;
            text-align: center;
            color: $white;
            text-decoration: none;
            font-size: 1.5rem;
            width: 100%;
            border-bottom: 1px solid $white;

            padding: 0.8rem 2rem;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 300%;
            transition: all 0.4s;

            span {
              margin-right: 1.5rem;
              display: inline-block;
            }
            &:hover,
            &:active {
              background-position: 100%;
              color: $primary;
            }
          }
        }
        &.social .nav-item .nav-link {
          border-bottom: none;
          padding: 0.3rem 0.7rem;
        }
      }

      &.show {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        .nav-group {
          .nav-item {
            transform: scale(1) translateY(0px);
            opacity: 1;
            @for $i from 1 through $menuItems {
              &:nth-child(#{$i}) {
                transition-delay: #{0.07 * $i + 0.5}s;
              }
            }
          }
        }
      }
    }
  }
}
