.btn {
  font-size: 1.15rem;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  position: relative;
  transition: all 0.2s linear;

  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
    padding: 1rem 2.2rem;
  }

  &:before {
    content: '';
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid;
    border-radius: 6px;
    transform: translate(-6px, -7px);
    transition: all 0.2s linear;
  }

  &:hover {
    transform: translateY(-0.3rem);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
    &::before {
      transform: translate(0, 0);
    }
  }

  &-primary {
    background-color: $primary;
    color: $white;

    &::before {
      border-color: lighten($primary, 20%);
    }
    &:hover {
      box-shadow: 0 1rem 2rem rgba($primary, 0.2);
      &::before {
        border-color: $primary;
      }
    }
    &::after {
      background-color: rgba($primary, 0.5);
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.dark {
  .btn {
    &-primary {
      &::before {
        border-color: $white;
      }
      &:hover::before {
        border-color: $primary;
      }
    }
  }
}
