$colors: $primary, $white, $primary;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;

  @apply bg-neutral-200;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  .cube {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) {
        background-color: nth($colors, $i);
      }
    }

    &:first-child {
      animation: left 1s infinite;
    }
    &:last-child {
      animation: right 1s infinite 0.5s;
    }
  }

  @keyframes left {
    40% {
      transform: translateX(-60px);
    }
    50% {
      transform: translateX(0);
    }
  }
  @keyframes right {
    40% {
      transform: translateX(60px);
    }
    50% {
      transform: translateX(0);
    }
  }
}

.dark {
  .loader {
    background-color: $dark;
  }
}
