.scroll-to-top {
  position: fixed;
  height: 45px;
  width: 45px;
  border-radius: 50%;

  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @apply bg-neutral-200 dark:bg-neutral-800 text-primary;

  i {
    transition: all 0.1s linear;
  }
  &:hover {
    i {
      transform: translateY(-4px);
    }
  }
}
